<% include common/header.ejs %>
<% include common/top_menu.ejs %>

<div class="container car-block">
    <div class="row">
        <div class="col-sm-5 top_description">
            <%= content.top_description %>
        </div>
        <div class="col-sm-7 car_logo">
            <img src="/static/images/space-holder.png" class="space-holder" style="display: none;">
            <img src="/static/images/main-image.jpg" class="car" >
        </div>
    </div>
</div>

<% for(var i=0; i<content.features.length; ++i) {
    var f = content.features[i];
    var img_style = "im-left";
    if(i % 2 == 1) {
        img_style = "im-right";
    }
    var image = '<div class="col-xs-3 feature-img '+img_style+'">' +
            '<img src="/static/images/features/'+ f.image+'" title="'+f.title+' — '+config.site_name+'" ></div>';
%>
    <div class="container feature-block">
        <div class="row">
        <% if(i % 2 == 0) { %>
        <%- image %>
        <% } %>
        <div class="col-xs-9 ">
            <h2><%= f.title %></h2>
            <ul>
                <% for (var b=0; b< f.bullets.length; ++b) {%>
                <li><%= f.bullets[b] %></li>
                <% } %>
            </ul>
        </div>
        <% if(i % 2 == 1) { %>
        <%- image %>
        <% } %>
        </div>
    </div>
<% } %>
<%= content %>
<% include common/footer.ejs %>